/* General Styles */
body {
    background-color: #230E12;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: #000000;
    padding: 10px 0;
}

.main-title {
    margin: 0;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 60px; /* Adjust to the height of the header */
    left: 0;
    width: 200px;
    background-color: #130609;
    height: 100%;
    padding-top: 20px;
}

.hover-section {
    background-color: #130609;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.hover-section:hover {
    background-color: #FF5733;
    color: black;
    transform: scale(1.05);
}

/* Footer */
#intro-text {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 0.8rem;
}
