body {
  background-color: #230E12; 
  color: white; 
  font-family: Arial, sans-serif; 
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}


@keyframes slide {
  0% {
    background-color: #277CE0; 
    left: 100%;
  }
  100% {
    background-color: #277CE0; 
    left: -100%;
  }
}


.title {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    color: #fff; 
    text-transform: uppercase;
}


.title::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;  
    transition: transform 0.5s ease; 
    transform: scaleX(0);  
    transform-origin: bottom right; 
}


.title:hover::before {
    transform: scaleX(1);  
    transform-origin: bottom left;
}
.shape {
    width: 150px;       
    height: 80px;       
    background-color: #000000;  
    border: 5px solid #fff;  
    border-radius: 15px;    
    margin: 20px;            
}

.main-title {
    text-align: left;
    top: 100px;  
    left: 50px; 
    margin-top: 50px; 
    font-size: 2rem;
    color: #fff; 
    text-transform: uppercase;
    
}
#intro-text {
    position: absolute;
    bottom: 100px;  
    right: 50px; 
  
}

.hover-group {
    background-color: #277CE0; /* Normal hali */
    color: white;             /* Normal hali */
    padding: 10px;
    margin: 5px;
    text-align: center;
    transition: all 0.3s ease; /* Animasyonu yumuşatmak için */
}

.hover-group:hover {
    background-color: #FF5733; /* Hover sırasında arka plan rengi */
    color: black;              /* Hover sırasında yazı rengi */
    transform: scale(1.1);     /* Hover sırasında hafif büyütme */

}
